/* Global reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* Numbers */
/* .numbers {
  display: flex;
  gap: 60px;
}

.number {
  width: 32px;
  height: 32px;
  background-color: rgb(173, 166, 166);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.number.active {
  background-color: rgb(100, 44, 100);
  color: white;
} */
.numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 80px;
}

.numbers div {
  background-color: rgb(173, 166, 166);
  border-radius: 50%;
  padding: 5px 10px;
}

.numbers div.active {
  background-color: rgb(100, 44, 100);
  color: white;
}

/* Topic */
.topics {
  display: flex;
  justify-content: center;
}

.topic {
  background-color: rgb(72, 198, 110);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 12px;
}

button {
  padding: 6px 14px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  opacity: 0.9;
}

button:focus-visible {
  outline: none;
}
